<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="MyFile" fileName="logs/app.log">
            <PatternLayout pattern="%d{dd mm yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="MyFile"/>
        </Root>
    </Loggers>
</Configuration>